<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>User History</title>
  </head>
  <body>
    <%- include('partials/navbar', { page: '/userHistory' }) %>


    <div class="container">
      <section class="hero">
        <div class="hero-overlay"></div>
        <div class="hero-content">
          <h1><%= session.user.userName %></h1>
          <p>User Email: <%= session.user.email %></p>
        </div>
      </section>

      <section>
        <table>
          <thead>
            <tr>
              <th>Login Date/Time</th>
              <th>Client Information</th>
            </tr>
          </thead>
          <tbody>
            <% session.user.loginHistory.forEach(history => { %>
            <tr>
              <td><%= history.dateTime %></td>
              <td><%= history.userAgent %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    </div>
  </body>
</html>
